CREATE DATABASE S4_N11_QuanLyKhoSua
go
CREATE TABLE SanPham(
	MaSp char(5) NOT NULL,
	TenSP nvarchar(50) NULL,
	DonGia money NULL,
	NSX date NULL,
	HSD date NULL,
	GhiChu ntext NOT NULL,
	MaLoai char(5) NULL,
 CONSTRAINT [PK__SanPham__2725087CF12B66A7] PRIMARY KEY CLUSTERED 
(
	[MaSp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE TABLE [dbo].[CTPhieuNhap](
	[SLNhap] [int] NULL,
	[ThanhTien] [money] NULL,
	[GhiChu] [ntext] NULL,
	[MaPN] [char](5) NOT NULL,
	[MaSP] [char](5) NOT NULL,
 CONSTRAINT [PK__CTPhieuN__F557B7713025B3C8] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE TABLE [dbo].[CTPhieuXuat](
	[SLXuat] [int] NULL,
	[ThanhTien] [money] NOT NULL,
	[GhiChu] [ntext] NULL,
	[MaPX] [char](5) NOT NULL,
	[MaSP] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPX] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE TABLE [dbo].[PhongBan](
	[MaPB] [char](5) NOT NULL,
	[TenPB] [nvarchar](50) NULL,
	[MaTP] [char](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [char](5) NOT NULL,
	[HoNV] [nvarchar](50) NULL,
	[TenNV] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[GT] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[Luong] [money] NULL,
	[MaPB] [char](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [char](5) NOT NULL,
	[NgayNhap] [date] NULL,
	[GhiChu] [ntext] NULL,
	[ThanhTien] [money] NOT NULL,
	[MaNV] [char](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE TABLE [dbo].[LoaiSP](
	[MaLoai] [char](5) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[GhiChu] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE TABLE [dbo].[PhieuXuat](
	[MaPX] [char](5) NOT NULL,
	[NgayXuat] [date] NULL,
	[GhiChu] [ntext] NULL,
	[ThanhTien] [money] NOT NULL,
	[MaNV] [char](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
